<section class="entity" id="<%= id %>">
  <header class="<%= titleClass %>">
    <h2><%= title %></h2>
  </header>
  <div class="entity__content">
    <main class="entity__description">
      <p><%= description %></p>
    </main>
    <aside class="entity__image">
      <div class="entity__image-container">
        <img src="<%= imageUrl %>" alt="" />
      </div>
    </aside>
  </div>
</section>
<% if (hasChildren) { %>
  <% for (child of children) { %>
    <%- include('entity.html.ejs', child.forRender()) %>
  <% } %>
<% } %>