<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Table of contents POC</title>
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet" type="text/css" />
  <link href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" rel="stylesheet" />
  <style>
    <%- include('./../css/general.css'); %>
    <%- include('./../css/entity.css'); %>
    <%- include('./../css/toc.css'); %>
  </style>
</head>
<body>
  <%- include('toc.html.ejs') %>
  <% for (entity of entities) { %>
    <%- include('entity.html.ejs', entity.forRender()) %>
  <% } %>
  <script>
    <%- include('./../js/tableOfContentsGenerator.js'); %>
  </script>
</body>
</html>